blinker==1.9.0
click==8.1.8
flake8==7.1.1
Flask==3.1.0
Flask-Cors==5.0.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.14.1
mypy-extensions==1.0.0
pycodestyle==2.12.1
pyflakes==3.2.0
typing_extensions==4.12.2
Werkzeug==3.1.3
